<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message Board</title>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!-- CSS for this page-->
    <link rel="stylesheet" href="/css/dashboard.css">
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- Bootstrap specific javascript functions -->
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>The Dojo Message Board</h1>
        <hr>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form action="/message" method = "post" role = "form">
                    <div class="form-group">
                        <input type="text" id="name" name="name" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="message" cols="30" rows="3" class="form-control" placeholder="Post a Message" style = "resize:none;"></textarea>
                    </div> 
                    <div class="form-group">
                        <button class="btn btn-primary pull-right">Post Message</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <br>
            <% for(var i = 0;i< data.length;i++){ %>
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Name: <%= data[i].name %>
                        </div>
                        <div class="panel-body">
                            Message: <%= data[i].message %>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-9 col-md-offset-2">
                    <form action="/message/<%= data[i]._id %>" method = "post" role = "form">
                        <div class="form-group">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <textarea name="comment" id="comment" cols="30" rows="3" class="form-control" placeholder="Post a Comment" style = "resize:none;"></textarea>
                        </div> 
                        <div class="form-group">
                            <button class="btn btn-primary pull-right">Post Comment</button>
                        </div>
                    </form>
                </div>
            <% } %>
            <div class="col-md-9 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Name: PERSON'S NAME HERE
                    </div>
                    <div class="panel-body">
                        Comment: PERSON'S MESSAGE GOES HERE HERE HERE!!! PERSON'S MESSAGE GOES HERE HERE HERE!!! PERSON'S MESSAGE GOES HERE HERE HERE!!!
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</body>
</html>
